/* vim: set fenc=utf-8 ts=4 sw=0 sts=0 sr et si tw=0 fdm=marker fmr={{{,}}}: */
/* */
/* waybar/style.css by Andy3153  */
/* created   30/01/24 ~ 23:07:59 */
/* */

/* {{{ Colors */
/* When I ever change the colorscheme, I only change the imported colors up here */
@import '../css-common/common-colors/common-colors-catppuccin-mocha.css';

/* Module colors */
@define-color workspaces-button_active @select1;
@define-color workspaces-button_urgent @urgent;

@define-color mpris                    @peach;
@define-color cava                     @green;

@define-color network                  @teal;
@define-color network2                 #a8f0e4;
@define-color network_disconnected     @urgent;

@define-color bluetooth                @sky;

@define-color pulseaudio               @sapphire;
@define-color pulseaudio_muted         @urgent;
@define-color pulseaudio_source-muted  @warn;

/*@define-color backlight                @sapphire;*/

@define-color battery                  @blue;
@define-color battery_warning          @warn;
@define-color battery_critical         @urgent;

@define-color kb-layout                @lavender;

@define-color tray                     @mauve;

@define-color maximize                 @blue;
@define-color close                    @red;
/* }}} */

/* {{{ Global settings */
* {
    font-family:   IosevkaTerm NF;
    font-size:     14px;
    padding:       0px;
    margin:        0px;
    border:        none;
    border-radius: 0px;
    box-shadow:    none;
}
/* }}} */

/* {{{ Window settings */
window#waybar
{
    background:    alpha(@bg0, 0.8);
}
/* }}} */

/* {{{ Tooltip settings */
tooltip
{
    color:         @font;
    background:    alpha(@bg0, 0.8);
}
/* }}} */

/* {{{ Module settings */
/* {{{ General */
.modules-left,.modules-right,.modules-center
{
    color:         @font;
    background:    transparent;
}
/* }}} */

/* {{{ Common between modules */
#window, #clock, #mpris, #custom-cava, #network, #bluetooth, #pulseaudio, #backlight, #battery, #custom-kb-layout, #tray, #custom-maximize, #custom-close
{
    padding:       0px 5px;
}
/* }}} */

/* {{{ Workspaces */
#workspaces
{
    padding:       0px;
}

#workspaces button
{
    color:         @font;
    padding:       0px 5px;
    border-bottom: 4px solid transparent;
}

#workspaces button:hover
{
    color:         @font;
    border-bottom: 4px dotted @font;
    font-weight:   bold;
}

#workspaces button.active
{
    color:         @workspaces-button_active;
    border-bottom: 3px solid @workspaces-button_active;
}

#workspaces button.active:hover
{
    color:         @workspaces-button_active;
    border-bottom: 4px dotted @workspaces-button_active;
    font-weight:   bold;
}

#workspaces button.urgent
{
    color:         @workspaces-button_urgent;
    border-bottom: 3px dotted @workspaces-button_urgent;
    font-weight:   bold;
    animation:     workspace-blinker 1s linear infinite;
}

@keyframes workspace-blinker
{
    50%
    {
        color:        @font;
        border-color: @font;
        background:   @workspaces-button_urgent;
    }
}
/* }}} */

/* {{{ Window */
#window.empty
{
    color:         transparent;
    background:    transparent;
    border-radius: 0px;
    padding:       0px;
}
/* }}} */

/* {{{ MPRIS */
#mpris
{
    color: @mpris;
    border-bottom: 3px solid @mpris;
}
/* }}} */

/* {{{ Network */
#network
{
    color: @network;
    border-bottom: 3px solid @network;
}

#network.disconnected, #network.disabled
{
    /* Colors */
    color: @network_disconnected;
    border-bottom: 3px solid @network_disconnected;
}
/* }}} */

/* {{{ Bluetooth */
#bluetooth
{
    color: @bluetooth;
    border-bottom: 3px solid @bluetooth;
    /*padding:       0px 0px 0px 5px;*/
}
/* }}} */

/* {{{ Pulseaudio */
#pulseaudio
{
    color: @pulseaudio;
    border-bottom: 3px solid @pulseaudio;
}

#pulseaudio.muted
{
    color: @pulseaudio_muted;
    border-bottom: 3px solid @pulseaudio_muted;
}

#pulseaudio.source-muted
{
    color: @pulseaudio_source-muted;
    border-bottom: 3px solid @pulseaudio_source-muted;
}
/* }}} */

/* {{{ Battery */
#battery
{
    color: @battery;
    border-bottom: 3px solid @battery;
}

#battery.warning
{
    color: @battery_warning;
    border-bottom: 3px solid @battery_warning;
}

#battery.critical:not(.charging)
{
    color: @battery_critical;
    border-bottom: 3px solid @battery_critical;
    animation: battery-blinker 1s linear infinite;
}

@keyframes battery-blinker
{
    50%
    {
        color:        @font;
        border-color: @font;
        background:   @battery_critical;
    }
}
/* }}} */

/* {{{ Keyboard layout */
#custom-kb-layout
{
    color: @kb-layout;
    border-bottom: 3px solid @kb-layout;
}
/* }}} */

/* {{{ Tray */
#tray
{
    color: @tray;
    border-bottom: 3px solid @tray;
}
/* }}} */

/* {{{ Weather */
#custom-weather
{
    color: @battery;
    border-bottom: 3px solid @battery;
}

#custom-weather.clear
{
    color: @teal; /*#c2ca76;*/
    border-bottom: 3px solid @teal;
}

#custom-weather.cloudy
{
    color: @yellow; /*#c2ddda;*/
    border-bottom: 3px solid @yellow;
}

#custom-weather.rain
{
    color: @sapphire; /*#5aaca5;*/
    border-bottom: 3px solid @sapphire;
}

#custom-weather.snow
{
    color: @subtext1; /*#d6e7e5;*/
    border-bottom: 3px solid @subtext1;
}

#custom-weather.storm
{
    color: @red; /*#eb937d;*/
    border-bottom: 3px solid @red;
}
/* }}} */

/* {{{ Maximize */
#custom-maximize
{
    color:      @font-dark;
    background: @maximize;
    padding:    0px 8px;
}
/* }}} */

/* {{{ Close */
#custom-close
{
    color:      @font-dark;
    background: @close;
    padding:    0px 8px;
}
/* }}} */
/* }}} */
/* }}} */
