/* vim: set fenc=utf-8 ts=4 sw=0 sts=0 sr et si tw=0 fdm=marker fmr={{{,}}}: */
/* */
/* waybar/style.css by Andy3153  */
/* created   06/07/23 ~ 01:51:42 */
/* */

/* {{{ Colors */
/* When I ever change the colorscheme, I only change the imported colors up here */
@import '../css-common/common-colors/common-colors-catppuccin-mocha.css';

/* Module colors */
@define-color workspaces-button_active @select1;
@define-color workspaces-button_urgent @urgent;

@define-color mpris                    @peach;
@define-color cava                     @green;

@define-color network                  @teal;
@define-color network2                 #a8f0e4;
@define-color network_disconnected     @urgent;

@define-color bluetooth                @sky;

@define-color pulseaudio               @sapphire;
@define-color pulseaudio_muted         @urgent;
@define-color pulseaudio_source-muted  @warn;

/*@define-color backlight                @sapphire;*/

@define-color battery                  @blue;
@define-color battery_warning          @warn;
@define-color battery_critical         @urgent;

@define-color kb-layout                @lavender;

@define-color tray                     @mauve;

@define-color maximize                 @blue;
@define-color close                    @red;
/* }}} */

/* {{{ Global settings */
* {
    font-family: Iosevka Nerd Font Mono;
    font-size:   14px;
    padding:     0px;
}
/* }}} */

/* {{{ Window settings */
window#waybar
{
    /* See only modules floating */
    background: transparent;
}
/* }}} */

/* {{{ Tooltip settings */
tooltip
{
    /* Colors */
    color:         @font;
    background:    alpha(@bg1, 0.8);

    /* Border */
    border: 0px;
}
/* }}} */

/* {{{ Module settings */
/* {{{ General */
.modules-left,.modules-right,.modules-center
{
    /* Colors */
    color:         @font;
    background:    @bg1;

    /* Create gaps with margins */
    margin-top:    20px;
    margin-left:   20px;
    margin-right:  20px;

    /* Rounded corners */
    border-radius: 10px;

    /* Create a border around the module elements with padding */
    padding:       5px 5px;
}

.modules-left
{
    /* Rounded corners */
    border-radius: 20px 10px 20px 10px;
}

.modules-right
{
    /* Rounded corners */
    border-radius: 10px 20px 10px 20px;
}
/* }}} */

/* {{{ Common between modules */
#workspaces, #window, #clock, #mpris, #custom-cava, #network, #bluetooth, #pulseaudio, #backlight, #battery, #custom-kb-layout, #tray, #custom-maximize, #custom-close
{
    /* Colors */
    background:    @bg2;

    /* Rounded corners */
    border-radius: 20px 10px 20px 10px;
}

#window, #clock, #mpris, #custom-cava, #network, #bluetooth, #pulseaudio, #backlight, #battery, #custom-kb-layout, #tray, #custom-maximize, #custom-close
{
    /* Padding */
    padding:       0px 10px;
}

#clock, #mpris, #custom-cava, #network, #bluetooth, #pulseaudio, #backlight, #battery, #custom-kb-layout, #tray, #custom-maximize, #custom-close
{
    /* Rounded corners */
    border-radius: 20px;

    /* Padding */
    padding:       0px 10px;
}

#mpris, #custom-cava, #network, #bluetooth, #pulseaudio, #backlight, #battery, #custom-kb-layout, #tray, #custom-maximize, #custom-close
{
    /* Colors */
    color:         @font-dark;

    /* Rounded corners */
    border-radius: 10px 20px 10px 20px;

    /* Padding */
    padding:       0px 12px;
}
/* }}} */

/* {{{ Workspaces */
#workspaces
{
    /* Padding */
    padding:       0px;
}

#workspaces button
{
    /* Colors */
    color:         @font;

    /* Rounded corners */
    border-radius: 10px;

    /* Padding */
    padding:       0px 5px;
}

#workspaces button.active
{
    /* Colors */
    color:         @font-dark;
    background:    @workspaces-button_active;
    border-radius: 30px;
}

#workspaces button.urgent
{
    /* Colors */
    color: @font-dark;
    background: @workspaces-button_urgent;
}
/* }}} */

/* {{{ Window */
#window.empty
{
    /* Make it so that the entire element disappears */
    /* Colors */
    background: transparent;

    /* Rounded corners */
    border-radius: 0px;

    /* Padding */
    padding: 0px;
}
/* }}} */

/* {{{ MPRIS */
#mpris
{
    /* Colors */
    background: @mpris;
}
/* }}} */

/* {{{ Cava */
#custom-cava
{
    /* Colors */
    background: @cava;
}
/* }}} */

/* {{{ Network */
#network
{
    /* Colors */
    background: linear-gradient(45deg, @network2 35%, @network 100%);
}

#network.disconnected, #network.disabled
{
    /* Colors */
    background: @network_disconnected;
}
/* }}} */

/* {{{ Bluetooth */
#bluetooth
{
    /* Colors */
    background: linear-gradient(45deg, @network 35%, @bluetooth 100%);
}
/* }}} */

/* {{{ Pulseaudio */
#pulseaudio
{
    /* Colors */
    background: linear-gradient(45deg, @bluetooth 35%, @pulseaudio 100%);
}

#pulseaudio.muted
{
    /* Colors */
    background: @pulseaudio_muted;
}

#pulseaudio.source-muted
{
    /* Colors */
    background: @pulseaudio_source-muted;
}
/* }}} */

/* {{{ Backlight */
#backlight
{
    /* Colors */
    background: @backlight;
}
/* }}} */

/* {{{ Battery */
#battery
{
    /* Colors */
    background: linear-gradient(45deg, @pulseaudio 35%, @battery 100%);
}

#battery.warning
{
    /* Colors */
    background: @battery_warning;
}

#battery.critical:not(.charging)
{
    /* Colors */
    background: @battery_critical;

    /* Animations */
    animation: blinker 1s linear infinite;
}

@keyframes blinker
{
    50%
    {
        /* Colors */
        color:      @font-dark;
        background: @font;
    }
}

/* }}} */

/* {{{ Keyboard layout */
#custom-kb-layout
{
    /* Colors */
    background: linear-gradient(45deg, @battery 35%, @kb-layout 100%);
}
/* }}} */

/* {{{ Tray */
#tray
{
    /* Colors */
    background: linear-gradient(45deg, @kb-layout 35%, @tray 100%);
}
/* }}} */

/* {{{ Maximize */
#custom-maximize
{
    /* Colors */
    background: @maximize;

    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    padding-right: 7px;
}
/* }}} */

/* {{{ Close */
#custom-close
{
    /* Colors */
    background: @close;

    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    padding-left: 7px;
}
/* }}} */

/* {{{ Custom */
/* {{{ Space */
#custom-space
{
    font-size: 0px;
    padding:   0px 2.5px;
}
/* }}} */
/* }}} */
/* }}} */
