/* vim: set fenc=utf-8 ts=4 sw=0 sts=0 sr et si tw=0 fdm=marker fmr={{{,}}}: */
/* */
/* waybar/style.css by Andy3153 */
/* created   06/07/23 ~ 01:51:42   */
/* remade1   18/06/25 ~ 23:17:45   */
/* */

/* {{{ Colors */
/* When I ever change the colorscheme, I only change the imported colors up here */
@import '../css-common/common-colors/common-colors-catppuccin-mocha.css';

/* {{{ Consecutive colors */
@define-color C01 @surface0;
@define-color C02 @surface1;
@define-color C03 @surface2;
@define-color C04 @overlay0;
@define-color C05 @overlay1;
@define-color C06 @C02;
@define-color C07 @C03;
@define-color C08 @C04;
@define-color C09 @C05;
/* }}} */
/* }}} */

/* {{{ Keyframes */
/* {{{ #workspaces button.urgent */
@keyframes workspaces-button_urgent
{
    50%
    {
        color:      @font;
        background: @urgent;
    }
}
/* }}} */

/* {{{ #battery.low:not(.charging), #battery.critical:not(.charging) */
@keyframes battery_not-charging
{
    50%
    {
        color: @font;
    }
}
/* }}} */

/* {{{ window#waybar.battery-critical */
@keyframes window_waybar_battery-critical
{
    0%  { background: alpha(@urgent, 0.8); }
    3%  { background: alpha(@bg0, 0.8); }

    5%  { background: alpha(@urgent, 0.8); }
    8%  { background: alpha(@bg0, 0.8); }

    10% { background: alpha(@urgent, 0.8); }
    13% { background: alpha(@bg0, 0.8); }
}
/* }}} */

/* {{{ #tray > .needs-attention */
@keyframes tray_needs-attention
{
    50%
    {
        color:        @font;
        background:   @urgent;
    }
}
/* }}} */
/* }}} */

/* {{{ Global settings */
* {
    font-family:   IosevkaTerm NF;
    font-size:     14px;
    padding:       0px;
    margin:        0px;
    border:        none;
    border-radius: 0px;
    min-height:    0px;
    box-shadow:    none;
    /*color:         @font;*/
}
/* }}} */

/* {{{ Window settings */
window#waybar
{
    background: alpha(@bg0, 0.8);
}
/* }}} */

/* {{{ Tooltip settings */
tooltip
{
    background: alpha(@bg0, 0.8);
}
/* }}} */

/* {{{ Module settings */
/* {{{ General */
.modules-left,.modules-right,.modules-center
{
    background: transparent;
}
/* }}} */

/* {{{ Common between modules */
#custom-overview, #custom-weather, #window,
#clock,
#mpris, #network, #bluetooth, #pulseaudio, #battery, #language, #tray, #privacy, #custom-maximize, #custom-close
{
    padding: 0px 5px;
}
/* }}} */

/* {{{ Left modules */
/* {{{ Overview */
#custom-overview
{
    background: @C01;
    padding:    0px 0px 0px 5px;
}
/* }}} */

#custom-arrR-01 { color: @C01; background: @C02; }

/* {{{ Workspaces */
#workspaces
{
    background: @C02;
    padding:    0px 0px 0px 2px;
}

#workspaces button
{
    color:   @font;
    padding: 0px 5px;
}

#workspaces button:hover
{
    background:  @C01;
    font-weight: bold;
}

#workspaces button.active
{
    color: @select1;
    border-left: 2px @select1 solid;
}

#workspaces button.special { padding: 0px 5px 0px 10px; }

#workspaces button.special.active
{
    color:       @select2;
    font-weight: bold;
}

#workspaces button.urgent
{
    color:       @urgent;
    font-weight: bold;
    animation:   workspaces-button_urgent 1s linear infinite;
}
/* }}} */

#custom-arrR-02 { color: @C02; background: @C03; }

/* {{{ Weather */
#custom-weather
{
    color: @select1;
    background: @C03;
}

#custom-weather.clear  { color: @teal; }
#custom-weather.cloudy { color: @yellow; }
#custom-weather.rain   { color: @sapphire; }
#custom-weather.snow   { color: @subtext1; }
#custom-weather.storm  { color: @red; }
/* }}} */

#custom-arrR-03 { color: @C03; background: @C04; }

/* {{{ Window */
#window { background: @C04; }
/* }}} */

#custom-arrR-04 { color: @C04; background: transparent; }
/* }}} */

/* {{{ Center modules */
/* }}} */

/* {{{ Right modules */
#custom-arrL-09 { color: @C09; background: transparent; }

/* {{{ MPRIS */
#mpris { background: @C09; }
/* }}} */

#custom-arrL-08 { color: @C08; background: @C09; }

/* {{{ Network */
#network              { background: @C08; }
#network.disabled     { color: @urgent; }
#network.disconnected { color: @urgent; }
/* }}} */

#custom-arrL-07 { color: @C07; background: @C08; }

/* {{{ Bluetooth */
#bluetooth               { background: @C07; }
#bluetooth.no-controller { padding: 0px; }
/* }}} */

#custom-arrL-06 { color: @C06; background: @C07; }

/* {{{ Pulseaudio */
#pulseaudio { background: @C06; }
/* }}} */

#custom-arrL-05 { color: @C05; background: @C06; }

/* {{{ Battery */
#battery                         { background: @C05; }
#battery.low                     { color: @warn; }
#battery.low:not(.charging)      { animation: battery_not-charging 1s linear infinite; }
#battery.critical                { color: @urgent; }
#battery.critical:not(.charging) { animation: battery_not-charging .5s linear infinite; }
#battery.charging                { color: @green; }
window#waybar.battery-critical   { animation: window_waybar_battery-critical 10s infinite; }
/* }}} */

#custom-arrL-04 { color: @C04; background: @C05; }

/* {{{ Language */
#language { background: @C04; }
/* }}} */

#custom-arrL-03 { color: @C03; background: @C04; }

/* {{{ Tray */
#tray { background: @C03; }

#tray > .needs-attention
{
    background: @bg0;
    animation:  tray_needs-attention 1s linear infinite;
}
/* }}} */

#custom-arrL-02 { color: @C02; background: @C03; }

/* {{{ Privacy */
#privacy { background: @C02; }
/* }}} */

#custom-arrL-01 { color: @C01; background: @C02; }

/* {{{ Maximize */
#custom-maximize
{
    color:      @select1;
    background: @C01;
    padding:    0px 8px;

    border-right: 2px solid @C02;
}
/* }}} */

/* {{{ Close */
#custom-close
{
    color:      @urgent;
    background: @C01;
    padding:    0px 8px;
}
/* }}} */
/* }}} */

/* {{{ Common between arrows   */
#custom-arrR-01, #custom-arrR-02, #custom-arrR-03, #custom-arrR-04,

#custom-arrL-09,
#custom-arrL-08, #custom-arrL-07, #custom-arrL-06, #custom-arrL-05,
#custom-arrL-04, #custom-arrL-03, #custom-arrL-02, #custom-arrL-01
{
    font-size: 20px;
    padding:   0;
}
/* }}} */
/* }}} */
