/* vim: set fenc=utf-8 ts=4 sw=0 sts=0 sr et si tw=0 fdm=marker fmr={{{,}}}: */
/* */
/* waybar/style.css by Andy3153  */
/* created   06/07/23 ~ 01:51:42 */
/* */

/* {{{ Colors */
/* When I ever change the colorscheme, I only change the imported colors up here */
@import '../css-common/common-colors/common-colors-catppuccin-mocha.css';

/* Module colors */
@define-color workspaces-button_active @select1;
@define-color workspaces-button_urgent @urgent;

@define-color mpris                    @peach;
@define-color cava                     @green;

@define-color network                  @teal;
@define-color network2                 #a8f0e4;
@define-color network_disconnected     @urgent;

@define-color bluetooth                @sky;

@define-color pulseaudio               @sapphire;
@define-color pulseaudio_muted         @urgent;
@define-color pulseaudio_source-muted  @warn;

/*@define-color backlight                @sapphire;*/

@define-color battery                  @blue;
@define-color battery_warning          @warn;
@define-color battery_critical         @urgent;

@define-color kb-layout                @lavender;

@define-color tray                     @mauve;

@define-color maximize                 @blue;
@define-color close                    @red;
/* }}} */

/* {{{ Global settings */
* {
    font-family: IosevkaTerm NF;
    font-size:   14px;
    padding:     0px;
}
/* }}} */

/* {{{ Window settings */
window#waybar
{
    /* Background */
    background: transparent;
}
/* }}} */

/* {{{ Tooltip settings */
tooltip
{
    /* Colors */
    color:         @font;
    background:    alpha(@bg1, 0.8);

    /* Border */
    border: 0px;
}
/* }}} */

/* {{{ Module settings */
/* {{{ General */
.modules-left,.modules-right,.modules-center
{
    /* Colors */
    color:         @font;
    /*background:    @bg1;*/

    /* Create gaps with margins */
    margin-top:    0px;
    margin-left:   0px;
    margin-right:  0px;

    /* Rounded corners */
    /*border-radius: 10px;*/

    /* Create a border around the module elements with padding */
    /*padding:       5px 5px;*/
}

.modules-left
{
    /* Rounded corners */
    /*border-radius: 20px 10px 20px 10px;*/
}

.modules-right
{
    /* Rounded corners */
    /*border-radius: 10px 20px 10px 20px;*/
}
/* }}} */

/* {{{ Common between modules */
#workspaces, #window, #clock, #mpris, #custom-cava, #network, #bluetooth, #pulseaudio, #backlight, #battery, #custom-kb-layout, #tray, #custom-maximize, #custom-close
{
    /* Colors */
    background:    alpha(@bg1, 0.8);

    /* Rounded corners */
    /*border-radius: 0px;*/
    padding:       0px 10px;
}

#window, #clock, #mpris, #custom-cava, #network, #bluetooth, #pulseaudio, #backlight, #battery, #custom-kb-layout, #tray, #custom-maximize, #custom-close
{
    /* Padding */
    /*padding:       0px 10px;*/
}

#clock, #mpris, #custom-cava, #network, #bluetooth, #pulseaudio, #backlight, #battery, #custom-kb-layout, #tray, #custom-maximize, #custom-close
{
    /* Rounded corners */
    /*border-radius: 20px;*/

    /* Padding */
    /*padding:       0px 10px;*/
}

#mpris, #custom-cava, #network, #bluetooth, #pulseaudio, #backlight, #battery, #custom-kb-layout, #tray, #custom-maximize, #custom-close
{
    /* Colors */
    color:         @font-dark;

    /* Rounded corners */
    /*border-radius: 10px 20px 10px 20px;*/

    /* Padding */
    /*padding:       0px 10px;*/
}

#custom-cava, #network, #bluetooth, #pulseaudio, #backlight, #battery, #custom-kb-layout, #tray, #custom-maximize, #custom-close
{
    /* Colors */
    color:         @font-dark;

    /* Rounded corners */
    /*border-radius: 10px 20px 10px 20px;*/

    /* Padding */
    padding:       0px 8px;
}
/* }}} */

/* {{{ Workspaces */
#workspaces
{
    /* Padding */
    padding:       0 10px 0 0;
}

#workspaces button
{
    /* Colors */
    color:         @font;

    /* Rounded corners */
    border-radius: 7px;

    /* Padding */
    padding:       0px 5px;
}

#workspaces button.active
{
    /* Colors */
    color:         @font-dark;
    background:    @workspaces-button_active;
}

#workspaces button.urgent
{
    /* Colors */
    color: @font-dark;
    background: @workspaces-button_urgent;
}
#custom-right-hollow-arrow-workspaces { color: @font; background: alpha(@bg1, 0.8) }
/* }}} */

/* {{{ Window */
/* Useless, it cannot detect there's no window in Hyprland */
#window.empty
{
    /* Make it so that the entire element disappears */
    /* Colors */
    background: red;

    /* Rounded corners */
    border-radius: 0px;

    /* Padding */
    padding: 0px;
}

#custom-right-arrow-window { color: alpha(@bg1, 0.8); background: transparent }
/* }}} */

/* {{{ MPRIS */
#mpris
{
    /* Colors */
    background: @mpris;
}
/* }}} */

/* {{{ Cava */
#custom-cava
{
    /* Colors */
    background: @cava;
}
/* }}} */

/* {{{ Network */
#custom-left-arrow-network { color: @network; background: transparent }
#network
{
    /* Colors */
    background: @network /*linear-gradient(45deg, @network2 35%, @network 100%);*/
}

#network.disconnected, #network.disabled
{
    /* Colors */
    background: @network_disconnected;
}
/* }}} */

/* {{{ Bluetooth */
#custom-left-arrow-bluetooth { color: @bluetooth; background: @network; }
#bluetooth
{
    /* Colors */
    background: @bluetooth /*linear-gradient(45deg, @network 35%, @bluetooth 100%);*/
}
/* }}} */

/* {{{ Pulseaudio */
#custom-left-arrow-pulseaudio { color: @pulseaudio; background: @bluetooth; }
#pulseaudio
{
    /* Colors */
    background: @pulseaudio /*linear-gradient(45deg, @bluetooth 35%, @pulseaudio 100%);*/
}

/*#pulseaudio.muted*/
/*{*/
    /* Colors */
    /*background: @pulseaudio_muted;*/
/*}*/

#pulseaudio.source-muted
{
    /* Colors */
    background: @pulseaudio_source-muted;
}
/* }}} */

/* {{{ Backlight */
#backlight
{
    /* Colors */
    background: @backlight;
}
/* }}} */

/* {{{ Battery */
#custom-left-arrow-battery { color: @battery; background: @pulseaudio; }
#battery
{
    /* Colors */
    background: @battery /*linear-gradient(45deg, @pulseaudio 35%, @battery 100%);*/
}

#battery.warning
{
    /* Colors */
    background: @battery_warning;
}

#battery.critical:not(.charging)
{
    /* Colors */
    background: @battery_critical;

    /* Animations */
    animation: blinker 1s linear infinite;
}

@keyframes blinker
{
    50%
    {
        /* Colors */
        color:      @font-dark;
        background: @font;
    }
}

/* }}} */

/* {{{ Keyboard layout */
#custom-left-arrow-kb-layout { color: @kb-layout; background: @battery; }
#custom-kb-layout
{
    /* Colors */
    background: @kb-layout /*linear-gradient(45deg, @battery 35%, @kb-layout 100%);*/
}
/* }}} */

/* {{{ Tray */
#custom-left-arrow-tray { color: @tray; background: @kb-layout; }
#tray
{
    /* Colors */
    background: @tray /*linear-gradient(45deg, @kb-layout 35%, @tray 100%);*/
}
/* }}} */

/* {{{ Maximize */
#custom-left-arrow-maxmin { color: @maximize; background: @tray; }
#custom-maximize
{
    /* Colors */
    background: @maximize;

    padding-right: 7px;
}
/* }}} */

/* {{{ Close */
#custom-close
{
    /* Colors */
    background: @close;

    padding-left: 7px;
}
/* }}} */

/* {{{ Space */
#custom-space
{
    font-size: 0px;
    padding:   0px 2.5px;
}
/* }}} */

/* {{{ Arrows */
#custom-right-hollow-arrow-workspaces, #custom-right-arrow-window, #custom-left-arrow-network, #custom-left-arrow-bluetooth, #custom-left-arrow-pulseaudio, #custom-left-arrow-battery, #custom-left-arrow-kb-layout, #custom-left-arrow-tray, #custom-left-arrow-maxmin, #custom-left-arrow-close
{
    font-size: 18px;
    padding:   0;
}
/* }}} */
/* }}} */
